/* Base styles */
body {
  color: #434455;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #2e2f42;
}

/* Header styles */

.header {
}

.header-nav {
}

.header-nav-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}
.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}

.header-addres {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-addres-link:hover {
  color: #404bbf;
}
.header-addres-link:focus {
  color: #404bbf;
}
.header-box {
  background-color: #2e2f42;
}
.header-box-content {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.header-box-button {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;
}
.header-box-button:hover {
  background-color: #404bbf;
}
.header-box-button:focus {
  background-color: #404bbf;
}

/* Advantages */
.advantages {
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team */
.team {
  background: #f4f4fd;
}
.team-our {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-list-item {
  background-color: #ffffff;
}
.team-list-img {
}
.team-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-profession {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio */
.portfolio {
  background-color: #f4f4fd;
}
.portfolio-our {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-img {
}
.portfolio-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-content {
  color: #f4f4fd;
}
